/**
 #758E5F	rgba(117, 142, 95, 1);  	// CAMOUFLAGE GREEN
 #A32C3F 	rgba(163, 44, 63, 1);  		// BIG DIP O’RUBY
 #1c3144	rgba(28, 49, 68, 1);		// YANKEES BLUE
 #c3d898	rgba(195, 216, 152, 1);		// MEDIUM SPRING BUD
 #70161e	rgba(112, 22, 30, 1);		// PRUNE
 */
th,td{
	padding:5px;
}
table, th, td {
  border: 1px solid black;
}

body{
	color:rgba(28, 49, 68, 1);
	font-family: 'PT Sans', sans-serif;
}

#pie,
#map,
body,
html {
  height: 100%;
}

.header h1{
	margin-top:0;	
}
.header{
	background:rgba(28, 49, 68, 1);
	color:#fff;
}

/* #content{ */
	/* background:rgba(163, 44, 63, 1);  */
/* } */

#map,
#content {
	min-height:900px;
}

#content{
	position:relative;
	background:rgba(163, 44, 63, 1);
	border-radius:5px;
	padding:1em 0;
}

#blurb,
#headline{
	text-align:center;
	color:#fff;
}

#content > div{
	visibility:hidden;
	position:absolute;
	z-index:-1;
	top:4.8em;
	left:0;
	width:100%;
	bottom:3em;
}

#blurb{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	padding:10px;
	z-index:2;
}

#content > div.active{
	visibility:visible;
	z-index:1;
}

.tab{
	display:inline-block;
	padding:0 20px;
	border:1px solid rgba(195, 216, 152, 1);
	margin:20px 20px 20px 0;
	line-height:2em;
	cursor:pointer;
}

.tab.active{
	background:rgba(117, 142, 95, 1);
	color:#fff;
}

.piechart{
	min-height:200px;
}


h1 {
	display: block;
	text-align: center!important;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.header {
	max-width: 100%;
}

h1.display-4 {
	font-size: 2.5em;
	font-weight: 300;
	line-height: 1.2;
}

p.lead {
	font-size: 1.25rem;
	font-weight: 300;
	padding: 0px;
	margin: 0, 0, 5px, 0;
	text-align: center!important;
}