<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Mass Shootings and Mental Health</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

	<div class="container">
		<div id="dashboard">
			<div id="tabs">
				<div class="tab" id="map_tab">Thing 1</div>
				<div class="tab" id="pie_tab">Thing 2</div>
				<div class="tab" id="wordcloud_tab">Thing 3</div>
			</div>
			
			<div id="content">
				<div id="map"></div>
				<div id="pie">Pie Chart</div>
				<div id="wordcloud">Word Cloud</div>
			</div>
		</div>
    </div>
	
	


    <!-- Kool chart JS library -->
    <script src="https://www.koolchart.com/demo/LicenseKey/KoolChartLicense.js"></script>
    <script src="https://www.koolchart.com/demo/KoolChart/JS/KoolChart.js"></script>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />

	<script
		src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
		crossorigin="anonymous"></script>
		
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/app.js"></script>
	
    <script type="text/javascript" src="static/js/logic.js"></script>
	
    <script type="text/javascript" src="static/js/dashboard.js"></script>
	
  </div>
</body>

</html>
