<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="UTF-8">
	<title>Mass Shootings and Mental Health</title>

	<!-- Bootstrap compenents -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

	<!-- KoolChart JavaScript library -->
	<script src="https://www.koolchart.com/demo/LicenseKey/codepen/KoolChartLicense.js"></script>
	<script src="https://www.koolchart.com/demo/KoolChart/JS/KoolChart.js"></script>
	<link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />

	<!-- HighChart library: -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/wordcloud.js"></script>

	<!-- Leaflet CSS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">

	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">

	<!-- Our CSS -->
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	
</head>

<body>
	<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Mass Shootings and Mental Health in the U.S.</h1>
		<p class="lead">A study of mental health motives in 50 years of mass shootings in the United States: 1966-2016</p>
	</div>
	<div class="container-flid main">
		<div id="dashboard">
			<div id="tabs">
				<div class="tab" id="map_tab"><h3>Mapping 50 years of mass shootings</h3></div>
				<div class="tab" id="pie_tab"><h3>Did the Shooter have a History of Mental Health?</h3></div>
				<div class="tab" id="wordcloud_tab"><h3>Shooter's General Motives</h3></div>
			</div>
			
			<div id="content">
				<!-- <h3 id="headline"></h3> -->
				<div id="map"></div>
				<div id="pie">
					<div class="row">
						<div class="col-md-6">
						<!-- piecharts -->
							<div id="chartClickHanlder">
								<div id="chartHolder" style="height:600px; width:100%;"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div id="chartClickHanlder">
								<div id="chartHolder2" style="height:600px; width:100%;"></div>
							</div>
						</div>
					</div>
				</div>
				<div id="wordcloud"></div>
				<p id="blurb"></p>
			</div>
		</div>
    </div>	

    <!-- Kool chart JS library -->
    <script src="https://www.koolchart.com/demo/LicenseKey/KoolChartLicense.js"></script>
    <script src="https://www.koolchart.com/demo/KoolChart/JS/KoolChart.js"></script>
    <link rel="stylesheet" href="https://www.koolchart.com/demo/KoolChart/Assets/Css/KoolChart.css" />

	<script
		src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
		crossorigin="anonymous"></script>
		
    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <!-- API Key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logic.js"></script>
	
    <script type="text/javascript" src="static/js/app.js"></script>
	
    <script type="text/javascript" src="static/js/dashboard.js"></script>
	
  </div>
</body>

</html>